<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Contact us to start developing your next digital product">
	<meta name="keywords" content="photography filmmaking photo foodstyling products locations ux-ui material-design designer web-design websites html css js">
	<title>Entrega final - C24825 - Mariano Solle</title>
	<!-- CDN css de Bootstrap -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
	<!-- link al css -->
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<a class="navbar-brand" href="../index.html">
						<img src="../assets/img/logo_ms.png" width="150px" height="150px" class="img-fluid"></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarNav">
							<ul class="navbar-nav ml-auto">
								<li class="nav-item">
									<a class="nav-link" href="../views/ux-ui.html">UX-UI</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="../views/photo.html">PHOTO</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="../views/web-design.html">WEB DESIGN</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="contact.html">CONTACT US</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
			<!-- Hero -->
			<div class="row">
				<div class="col-12">
					<img src="https://images.unsplash.com/photo-1516387938699-a93567ec168e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt="camera" width="100%">
				</div>
			</div>
			<!-- Form -->
			<div class="row">
				<div class="col-lg-6 col-12">
					<h3 class="mt-5"><u>Contact us</u></h3>
					<form>
						<div class="form-group">
							<label for="formGroupExampleInput"></label>
							<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name">
						</div>
						<div class="form-group">
							<label for="formGroupExampleInput2"></label>
							<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Last name">
						</div>
						<div class="form-group">
							<label for="exampleFormControlInput1">Email address</label>
							<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
						</div>
						<div class="form-group">
							<label for="exampleFormControlSelect2">¿Which services are you interested for?</label>
							<select multiple class="form-control" id="exampleFormControlSelect2">
								<option>Photo</option>
								<option>Filmmaking</option>
								<option>UX-UI</option>
								<option>Web Design</option>
							</select>
						</div>
						<div class="form-group">
							<label for="exampleFormControlTextarea1">Comments:</label>
							<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
						</div>
						<div>
							<button type="button" class="btn btn-outline-dark btn-sm">Send</button>
						</div>
					</form>
					<div class="row">
						<div class="col-lg-6 col-12"></div>
					</div>
				</div>
			</div>
			<!-- footer -->
			<div class="row">
				<div class="col-6 mt-5 mb-5 d-flex justify-content-end">
					<a href="#"><img src="https://icongr.am/entypo/instagram.svg?size=40&color=0c17b0" alt="instagram"></a>
				</div>
				<div class="col-6 mt-5 mb-5 d-flex justify-content-start">
					<a href="#"><img src="https://icongr.am/entypo/behance.svg?size=40&color=0c17b0" alt="behance"></a>
				</div>
			</div>
			<!-- js bootstrap -->
			<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
		</div>	
	</body>
	</html>